#canvas{
    display: grid;
    width: 400px;
    height: 550px;
    gap: 0;
    box-shadow: 4px 4px 6px #000000;
    border-radius: 0px;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: auto;
}

.canvasDiv{
    transition: background-color .09s;
    background-color: white;
}

div{
    border: 0px solid red;
}

body{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.middle{
    width: 720px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
    align-items: center;
}

form{
    height: 550px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    gap: 20px;
}

.userInput{
    position:inherit;
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0px;
    height: 50px;
    width: 140px;
    border-collapse: collapse;
}

.userInput:hover{
    background-color: #002ead;
    transition: 0.3s;
}

.footer{
    width: auto;
    height: 50px;
}

#colorPicker{
    -webkit-appearance: none;
    border: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 7px;
    border: none;
}

#colorPicker::-webkit-color-swatch {
    border: none;
}

#rainBowText{
    mix-blend-mode: difference;
    color: white;
}

#formDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 550px;
}