#divGrid{
    display: grid;
    width: 300px;
    height: 450px;
    grid-template-columns: repeat(16, auto);
    grid-auto-rows: auto;
    border: 5px solid black;
}

.gridDivs{
    transition: background-color .09s;
}

.gridDivs:hover{
    background-color: black;
}